{% extends 'story/base.html' %}

{% block title %}
  Story #{{ story.id }}
{% endblock %}

{% block body %}
	<h2>Story{{ story.title }}</h2>
    <p>{{ story.description }}</p>
  <div>
    <a
      class="btn btn-danger"
      href="{{ url_for('story_app.confirm_delete', story_id=story.id) }}"
    >Delete story</a>
    <a
{#      class="link-underline link-underline-opacity-0"#}
      class="btn btn-primary"
       href="{{ url_for('story_app.list') }}">Back to all stories</a>
  </div>
{% endblock %}
