{% extends 'about/base.html' %}

{% block title %}
  Index
{% endblock %}

{% block body %}
<h1>
  Shaun the Sheep
</h1>
<p>
  Shaun, an unusually clever sheep, lives with his flock at Mossy Bottom Farm (the name can be seen in nearly all of the opening scenes), a traditional small northern English farm. Each episode centres around Shaun's attempts to add excitement to their otherwise boring lives. The action snowballs into fantastic sitcom-style escapades, most often because they are fascinated with human technology and culture. This usually brings them into partnership — and sometimes conflict — with the sheepdog Bitzer, while they all are simultaneously trying to avoid discovery by the farmer.
</p>
{% endblock %}